<h1>Bem-vindo ao Contatooh</h1>
<button ng-click="incrementa()">Novo</button>
<input ng-model="filtro" type="search" placeholder="parte do nome">


	<p ng-show="contatos.length">Contatos cadastrados: {{contatos.length}}</p>

	<p class="text-info" ng-hide="contatos.length">
	    Não há contatos cadastrados
	</p>
<table class="table">
  <tr ng-repeat="contato in contatos | filter: filtro">
    <td>
      <a>{{contato.nome}}</a>
    </td>
    <td>{{contato.email}}</td>
    <td class="text-center">
      <button class="btn btn-warning" ng-click="remove(contato)">
        Remover
      </buttom>
    </td>
</tr>
</table>